<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hugo says hello</p>
    <!-- this ranges through dirs/files in site content
    folder and displays as list, range iterates,permalink is page url
    for nav--> 
    {{- range first 10 .Data.Pages }}
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    {{- end }}
</body>
</html>