{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        
      </div>
    </div>
    <div class="row">
      <div class="col text-left">

        
        <h2>Custom Solutions</h2>
        <p>Magyk Software specailizing in custom software solutions since 2019. Magyk Software is based in Wyoming with remote workers around the world. Magyk Software provides the United States with domestically designed solutions for unqiue business problems. 
           Magyk Software is proud to be offering <a href="portal" class="u-link">Magyk Business</a>
           a business administration platform with analytics module, starting at $1.00 a user. </p>
      </div>
    </div>
  </div>
</section>
