<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Articles</h1>
    {{- range first 10 .Data.Pages }}
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    {{- end }}
    <h4><a href="{{ .Site.BaseURL }}">Home</a></h4>
</body>
</html>