<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <!--displays single page,-->
    <h1>{{ .Title }}</h1>
    <h6>{{ .Date.Format "Mon, Jan 2, 2006" }}</h6>
    {{ .Content }}
    <h4><a href="{{ .Site.BaseURL }}">Home</a></h4>
</body>
</html>